@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: Yekan;
  src: url("../public/fonts/Yekan-Bakh-FaNum/OTF/YekanBakhFaNum-Regular.otf");
  src: url("../public/fonts/Yekan-Bakh-FaNum/Webfonts/fonts/woff/YekanBakhFaNum-Regular.woff")
      format("woff"),
    url("../public/fonts/Yekan-Bakh-FaNum/Webfonts/fonts/woff2/YekanBakhFaNum-Regular.woff2")
      format("woff2"),
    url("../public/fonts/Yekan-Bakh-FaNum/TTF/YekanBakhFaNum-Regular.ttf")
      format("truetype");
}
@font-face {
  font-family: YekanBold;
  src: url("../public/fonts/Yekan-Bakh-FaNum/OTF/YekanBakhFaNum-Bold.otf");
  src: url("../public/fonts/Yekan-Bakh-FaNum/Webfonts/fonts/woff/YekanBakhFaNum-Bold.woff")
      format("woff"),
    url("../public/fonts/Yekan-Bakh-FaNum/Webfonts/fonts/woff2/YekanBakhFaNum-Bold.woff2")
      format("woff2"),
    url("../public/fonts/Yekan-Bakh-FaNum/TTF/YekanBakhFaNum-Bold.ttf")
      format("truetype");
}

.yekan {
  font-family: Yekan;
}
.yekanBold {
  font-family: YekanBold;
}



.display-none {
  display: none;
  opacity: 0;
}

.item {
  animation: opacity 0.3s linear forwards !important;
}
.leaveItem {
  animation: reopacity 0.3s linear forwards !important;
}
.blurTrans {
  animation: blur 0.2s linear forwards !important;
}
.noneBlur {
  animation: resetBlur 0.2s linear forwards !important;
}

@keyframes opacity {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reopacity {
  0% {
    justify-content: flex-start;
    width: 100%;
    height: 25;
  }
  100% {
    justify-content: center;
    width: 25;
    height: 25;
  }
}
@keyframes blur {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(6px);
  }
}
@keyframes resetBlur {
  0% {
    filter: blur(6px);
  }
  100% {
    filter: blur(0);
  }
}

.animate {
  transition: width 0.3s ease-in-out !important;
}
.leave {
  transition: width 0.3s ease-in-out !important;
}

.custom-shadow {
  box-shadow: 0px 1px 5px -2px gray
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
